.main {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
  }
  
  .main .div-yui {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-width: 376px;
    position: relative;
    width: 336px;
  }
  
  .main .div {
    align-self: stretch;
    height: 8777.58px;
    position: relative;
    width: 100%;
  }
  
  .main .figure {
    height: 549px;
    left: 17px;
    position: absolute;
    top: 17px;
    width: 302px;
  }
  
  .main .overlap {
    height: 549px;
    position: relative;
  }
  
  .main .img {
    height: 242px;
    left: 34px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .main .figcaption {
    background-color: #cec0c2;
    height: 374px;
    left: 0;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .div-image-title {
    height: 116px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 208px;
  }
  
  .main .SNEAKERS-FOR {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    height: 15px;
    left: -3px;
    letter-spacing: 0;
    line-height: 14.5px;
    position: absolute;
    text-align: center;
    top: 6px;
    white-space: nowrap;
  }
  
  .main .WOMEN {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    height: 15px;
    left: 48px;
    letter-spacing: 0;
    line-height: 14.5px;
    position: absolute;
    text-align: center;
    top: 35px;
    white-space: nowrap;
  }
  
  .main .overlap-group {
    height: 59px;
    left: -17px;
    position: absolute;
    top: 56px;
    width: 242px;
  }
  
  .main .SPRING-SUMMER {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: 14.5px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 242px;
  }
  
  .main .text-wrapper {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    height: 30px;
    left: 92px;
    letter-spacing: 0;
    line-height: 14.5px;
    position: absolute;
    text-align: center;
    top: 29px;
    width: 58px;
  }
  
  .main .p-min-font-set {
    height: 136px;
    left: 30px;
    position: absolute;
    top: 156px;
    width: 208px;
  }
  
  .main .overlap-2 {
    height: 136px;
    left: -17px;
    position: relative;
    top: -1px;
    width: 244px;
  }
  
  .main .p {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 19px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .text-wrapper-2 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-3 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 4px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-4 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 4px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 58px;
    white-space: nowrap;
  }
  
  .main .and-environmentally {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 22px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 78px;
    white-space: nowrap;
  }
  
  .main .seafoam-are-the {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 39px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 98px;
  }
  
  .main .div-image-button {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 54.51px 0px 54.41px;
    position: absolute;
    top: 307px;
    width: 208px;
  }
  
  .main .link {
    align-items: flex-start;
    background-color: #0a0000;
    border-radius: 52.8px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    margin-left: -17px;
    margin-right: -17px;
    padding: 11px 30px 12.19px;
    position: relative;
  }
  
  .main .text-wrapper-5 {
    color: #f7f2f2;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 13.2px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .overlap-wrapper {
    height: 521px;
    left: 17px;
    position: absolute;
    top: 600px;
    width: 302px;
  }

  
  
  .main .overlap-3 {
    height: 521px;
    position: relative;
  }
  
  .main .div-yui-2 {
    height: 242px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .main .figcaption-2 {
    background-color: #cec0c2;
    height: 346px;
    left: 34px;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .FLOJO-FOREVER-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 6.53px 0.02px 6.72px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .FLOJO-FOREVER {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 228.67px;
  }
  
  .main .p-min-font-set-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 0.35px 0px 0.57px;
    position: absolute;
    top: 69px;
    width: 208px;
  }
  
  .main .text-wrapper-6 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -9.5px;
    margin-right: -9.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-7 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -17px;
    margin-right: -17px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-8 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -3.5px;
    margin-right: -3.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-9 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.3px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -13.5px;
    margin-right: -13.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .day-meet-the-anxiety {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.3px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-10 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.3px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-11 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -14px;
    margin-right: -14px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-12 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -11px;
    margin-right: -11px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .element-where-you-feel {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -9.5px;
    margin-right: -9.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .main .link-wrapper {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 54.51px 0px 54.41px;
    position: absolute;
    top: 278px;
    width: 208px;
  }
  
  .main .overlap-group-wrapper {
    height: 540px;
    left: 17px;
    position: absolute;
    top: 1155px;
    width: 302px;
  }
  
  .main .overlap-4 {
    height: 540px;
    position: relative;
  }
  
  .main .figcaption-3 {
    background-color: #cec0c2;
    height: 365px;
    left: 0;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .STUDY-HALL-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 39.23px 0.02px 39.44px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .STUDY-HALL {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 163.25px;
  }
  
  .main .p-min-font-set-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 0.36px 0px 0.56px;
    position: absolute;
    top: 69px;
    width: 208px;
  }
  
  .main .text-wrapper-13 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -12.5px;
    margin-right: -12.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-14 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -11px;
    margin-right: -11px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-15 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -15.5px;
    margin-right: -15.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-16 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-17 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -11.5px;
    margin-right: -11.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-18 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-19 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -8.5px;
    margin-right: -8.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-20 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -13px;
    margin-right: -13px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-21 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -17px;
    margin-right: -17px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .girls-range-one-way {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.3px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -3px;
    margin-right: -3px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .main .div-wrapper {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 298px;
    width: 208px;
  }
  
  .main .link-2 {
    align-items: flex-start;
    background-color: #0a0000;
    border-radius: 52.8px;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    margin-left: -17px;
    margin-right: -17px;
    padding: 12px 30px 11.19px;
    position: relative;
  }
  
  .main .text-wrapper-22 {
    color: #f7f2f2;
    font-family: "Inter", Helvetica;
    font-size: 10.1px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 13.2px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .figure-2 {
    height: 462px;
    left: 17px;
    position: absolute;
    top: 1729px;
    width: 302px;
  }
  
  .main .overlap-5 {
    height: 462px;
    position: relative;
  }
  
  .main .figcaption-4 {
    background-color: #cec0c2;
    height: 287px;
    left: 34px;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .EGGPLANT-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 46.92px 0.02px 47.13px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .EGGPLANT {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 147.87px;
  }
  
  .main .p-min-font-set-4 {
    height: 136px;
    left: 30px;
    position: absolute;
    top: 69px;
    width: 208px;
  }
  
  .main .overlap-group-2 {
    height: 136px;
    left: -17px;
    position: relative;
    top: -1px;
    width: 245px;
  }
  
  .main .text-wrapper-23 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 7px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .text-wrapper-24 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 300;
    height: 20px;
    left: 7px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-25 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.3px;
    font-weight: 300;
    height: 20px;
    left: 24px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-26 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 11.9px;
    font-weight: 300;
    height: 20px;
    left: 6px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 58px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-27 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.3px;
    font-weight: 300;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 78px;
    white-space: nowrap;
  }
  
  .main .combined-with-the {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 39px;
    left: 7px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 98px;
  }
  
  .main .button {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 220px;
    width: 208px;
  }
  
  .main .figure-3 {
    height: 443px;
    left: 17px;
    position: absolute;
    top: 2225px;
    width: 302px;
  }
  
  .main .overlap-6 {
    height: 443px;
    position: relative;
  }
  
  .main .figcaption-5 {
    background-color: #cec0c2;
    height: 268px;
    left: 0;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .WASH-DAY-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 49.16px 0.02px 49.36px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .WASH-DAY {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 143.4px;
  }
  
  .main .p-min-font-set-5 {
    height: 117px;
    left: 30px;
    position: absolute;
    top: 69px;
    width: 208px;
  }
  
  .main .overlap-group-3 {
    height: 117px;
    left: -17px;
    position: relative;
    top: -1px;
    width: 244px;
  }
  
  .main .text-wrapper-28 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 11.9px;
    font-weight: 300;
    height: 20px;
    left: 1px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .text-wrapper-29 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 8px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
    white-space: nowrap;
  }
  
  .main .during-the-summer {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 11.9px;
    font-weight: 300;
    height: 39px;
    left: 3px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 78px;
  }
  
  .main .div-image-button-2 {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 200px;
    width: 208px;
  }
  
  .main .figure-4 {
    height: 440px;
    left: 17px;
    position: absolute;
    top: 2701px;
    width: 302px;
  }
  
  .main .overlap-7 {
    height: 440px;
    position: relative;
  }
  
  .main .div-yui-3 {
    height: 227px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .main .figcaption-6 {
    background-color: #cec0c2;
    height: 281px;
    left: 34px;
    position: absolute;
    top: 160px;
    width: 268px;
  }
  
  .main .THRIFTED-TINGS-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 11.66px 0.02px 11.86px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .THRIFTED-TINGS {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 218.4px;
  }
  
  .main .p-min-font-set-6 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 4.85px 0px 5.06px;
    position: absolute;
    top: 69px;
    width: 208px;
  }
  
  .main .text-wrapper-30 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -3.5px;
    margin-right: -3.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .college-i-was-young {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -14.5px;
    margin-right: -14.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-31 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -9.5px;
    margin-right: -9.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .store-opened-me-up {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -17px;
    margin-right: -17px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .main .div-image-button-3 {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 213px;
    width: 208px;
  }
  
  .main .figure-5 {
    height: 452px;
    left: 17px;
    position: absolute;
    top: 3244px;
    width: 302px;
  }
  
  .main .overlap-8 {
    height: 452px;
    position: relative;
  }
  
  .main .figcaption-7 {
    background-color: #cec0c2;
    height: 277px;
    left: 0;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .div-image-title-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 15.37px 0.01px 15.57px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .NO-PLACE-LIKE {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 210.98px;
  }
  
  .main .BROOKLYN {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -0.98px;
    position: relative;
    text-align: center;
    width: 153.53px;
  }
  
  .main .p-min-font-set-7 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 1.85px 0px 2.07px;
    position: absolute;
    top: 98px;
    width: 208px;
  }
  
  .main .if-you-don-t-know {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -17px;
    margin-right: -17px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-32 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .know-that-i-m-from {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .main .div-image-button-4 {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 210px;
    width: 208px;
  }
  
  .main .figure-6 {
    height: 491px;
    left: 17px;
    position: absolute;
    top: 3798px;
    width: 302px;
  }
  
  .main .overlap-9 {
    height: 491px;
    position: relative;
  }
  
  .main .figcaption-8 {
    background-color: #cec0c2;
    height: 316px;
    left: 34px;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .div-image-title-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6.01px;
    left: 30px;
    padding: 7px 37.36px 0.02px 37.56px;
    position: absolute;
    top: 30px;
    width: 242px;
  }
  
  .main .text-wrapper-33 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .SQUAD {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    position: relative;
    text-align: center;
    width: 101.18px;
  }
  
  .main .p-min-font-set-8 {
    height: 136px;
    left: 30px;
    position: absolute;
    top: 98px;
    width: 208px;
  }
  
  .main .overlap-10 {
    height: 58px;
    left: -14px;
    position: absolute;
    top: -1px;
    width: 237px;
  }
  
  .main .text-wrapper-34 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.4px;
    font-weight: 300;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .what-wear-x-chandon {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 300;
    height: 39px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 20px;
  }
  
  .main .overlap-group-4 {
    height: 78px;
    left: -17px;
    position: absolute;
    top: 58px;
    width: 244px;
  }
  
  .main .emphasis-rebecca {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 11.9px;
    font-weight: 400;
    height: 20px;
    left: 7px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .span {
    font-style: italic;
    font-weight: 300;
  }
  
  .main .text-wrapper-35 {
    font-weight: 300;
  }
  
  .main .emphasis-pauline {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 400;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
  }
  
  .main .bumble-s-director-of {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 11px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
    white-space: nowrap;
  }
  
  .main .emphasis-andee-olson {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    left: 82px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 58px;
    white-space: nowrap;
  }
  
  .main .div-image-button-5 {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 249px;
    width: 208px;
  }
  
  .main .figure-7 {
    height: 482px;
    left: 17px;
    position: absolute;
    top: 4391px;
    width: 302px;
  }
  
  .main .overlap-11 {
    height: 482px;
    position: relative;
  }
  
  .main .figcaption-9 {
    background-color: #cec0c2;
    height: 307px;
    left: 0;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .THAT-s-SHOW-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 10.34px 0.02px 10.54px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .THAT-s-SHOW {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 221.04px;
  }
  
  .main .p-min-font-set-9 {
    height: 156px;
    left: 30px;
    position: absolute;
    top: 69px;
    width: 208px;
  }
  
  .main .overlap-group-5 {
    height: 156px;
    left: -17px;
    position: relative;
    top: -1px;
    width: 243px;
  }
  
  .main .text-wrapper-36 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 7px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .text-wrapper-37 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 6px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
  }
  
  .main .era-that-s-true-to {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 9px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-38 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 9px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 58px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-39 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.3px;
    font-weight: 300;
    height: 20px;
    left: 14px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 78px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-40 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 98px;
    white-space: nowrap;
  }
  
  .main .black-panthers-there {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 300;
    height: 39px;
    left: 7px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 117px;
  }
  
  .main .div-image-button-6 {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 239px;
    width: 208px;
  }
  
  .main .figure-8 {
    height: 423px;
    left: 17px;
    position: absolute;
    top: 4975px;
    width: 302px;
  }
  
  .main .overlap-12 {
    height: 423px;
    position: relative;
  }
  
  .main .figcaption-10 {
    background-color: #cec0c2;
    height: 248px;
    left: 34px;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .COACHELLA-FITS-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 4.87px 0.02px 5.07px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .COACHELLA-FITS {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 231.98px;
  }
  
  .main .it-s-that-time-of {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -6.5px;
    margin-right: -6.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .festival-season-if {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -16.5px;
    margin-right: -16.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-41 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -13.5px;
    margin-right: -13.5px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .life-so-what-better {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.3px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -17px;
    margin-right: -17px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .main .div-image-button-7 {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 181px;
    width: 208px;
  }
  
  .main .figure-9 {
    height: 433px;
    left: 17px;
    position: absolute;
    top: 5500px;
    width: 302px;
  }
  
  .main .overlap-13 {
    height: 433px;
    position: relative;
  }
  
  .main .figcaption-11 {
    background-color: #cec0c2;
    height: 258px;
    left: 0;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .div-image-title-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6.02px;
    left: 30px;
    padding: 7px 8.35px 0.01px 8.56px;
    position: absolute;
    top: 30px;
    width: 242px;
  }
  
  .main .BODY-CARE {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    position: relative;
    text-align: center;
    width: 161.92px;
  }
  
  .main .p-min-font-set-10 {
    height: 78px;
    left: 30px;
    position: absolute;
    top: 98px;
    width: 208px;
  }
  
  .main .overlap-group-6 {
    height: 78px;
    left: -17px;
    position: relative;
    top: -1px;
    width: 243px;
  }
  
  .main .fall-is-finally-here {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .text-wrapper-42 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 17px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
  }
  
  .main .weather-not-only {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 39px;
    left: 4px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
  }
  
  .main .div-image-button-8 {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 190px;
    width: 208px;
  }
  
  .main .figure-10 {
    height: 433px;
    left: 17px;
    position: absolute;
    top: 6034px;
    width: 302px;
  }
  
  .main .figcaption-12 {
    background-color: #cec0c2;
    height: 258px;
    left: 34px;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .div-image-title-5 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7.02px;
    left: 30px;
    padding: 0px 16.26px 7.01px 16.47px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .MY-SIGNATURE {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 209.19px;
  }
  
  .main .FRO {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .overlap-group-7 {
    height: 78px;
    left: -17px;
    position: relative;
    top: -1px;
    width: 245px;
  }
  
  .main .text-wrapper-43 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 22px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .text-wrapper-44 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 3px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-45 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-46 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 11.8px;
    font-weight: 300;
    height: 20px;
    left: 44px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 58px;
    white-space: nowrap;
  }
  
  .main .figure-11 {
    height: 481px;
    left: 17px;
    position: absolute;
    top: 6569px;
    width: 302px;
  }
  
  .main .overlap-14 {
    height: 481px;
    position: relative;
  }
  
  .main .figcaption-13 {
    background-color: #cec0c2;
    height: 306px;
    left: 0;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .div-image-title-6 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 6.23px 0.02px 6.44px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .TIPS-TO-HELP {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 181.41px;
  }
  
  .main .FIGHT-HUMIDITY {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 229.25px;
  }
  
  .main .FRIZZ {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 100.09px;
  }
  
  .main .p-min-font-set-11 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 0.85px 0px 1.07px;
    position: absolute;
    top: 127px;
    width: 208px;
  }
  
  .main .text-wrapper-47 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-48 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -17px;
    margin-right: -17px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .text-wrapper-49 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.3px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -4px;
    margin-right: -4px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .main .humid-summer-months {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -0.5px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .main .figure-12 {
    height: 423px;
    left: 17px;
    position: absolute;
    top: 7152px;
    width: 302px;
  }
  
  .main .NOLA-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 7px 80.36px 7.02px 80.56px;
    position: absolute;
    top: 30px;
    width: 242px;
  }
  
  .main .p-min-font-set-12 {
    height: 98px;
    left: 30px;
    position: absolute;
    top: 69px;
    width: 208px;
  }
  
  .main .overlap-group-8 {
    height: 98px;
    left: -16px;
    position: relative;
    top: -1px;
    width: 242px;
  }
  
  .main .ago-for-the-infamous {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
  }
  
  .main .i-couldn-t-miss-an {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 13px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-50 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 27px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 58px;
    white-space: nowrap;
  }
  
  .main .aesthetically {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 11.9px;
    font-weight: 400;
    height: 20px;
    left: 13px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 78px;
    white-space: nowrap;
  }
  
  .main .figure-13 {
    height: 501px;
    left: 17px;
    position: absolute;
    top: 7677px;
    width: 302px;
  }
  
  .main .overlap-15 {
    height: 501px;
    position: relative;
  }
  
  .main .figcaption-14 {
    background-color: #cec0c2;
    height: 326px;
    left: 0;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .div-image-title-7 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 24.95px 0.01px 25.16px;
    position: absolute;
    top: 29px;
    width: 242px;
  }
  
  .main .DIY-CUT-OFF {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 182.79px;
  }
  
  .main .SHORTS-WITH {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 191.81px;
  }
  
  .main .BUSTLE {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 108.7px;
  }
  
  .main .p-min-font-set-13 {
    height: 117px;
    left: 30px;
    position: absolute;
    top: 127px;
    width: 208px;
  }
  
  .main .i-had-the-awesome {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 39px;
    left: -3px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: -1px;
  }
  
  .main .overlap-group-9 {
    height: 79px;
    left: -17px;
    position: absolute;
    top: 38px;
    width: 245px;
  }
  
  .main .emphasis-facebook {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 11.9px;
    font-weight: 400;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .is-perfect-for-the {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 300;
    height: 20px;
    left: 4px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
    white-space: nowrap;
  }
  
  .main .text-wrapper-51 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 3px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 58px;
    white-space: nowrap;
  }
  
  .main .link-3 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #1111114c;
    height: 19px;
    left: 204px;
    position: absolute;
    top: 60px;
    width: 34px;
  }
  
  .main .text-wrapper-52 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 11.8px;
    font-weight: 300;
    height: 20px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: -2px;
    white-space: nowrap;
  }
  
  .main .div-image-button-9 {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 30px;
    padding: 0px 63.59px 0px 63.33px;
    position: absolute;
    top: 258px;
    width: 208px;
  }
  
  .main .figure-14 {
    height: 481px;
    left: 17px;
    position: absolute;
    top: 8279px;
    width: 302px;
  }
  
  .main .figcaption-15 {
    background-color: #cec0c2;
    height: 306px;
    left: 34px;
    position: absolute;
    top: 175px;
    width: 268px;
  }
  
  .main .div-image-title-8 {
    height: 87px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 208px;
  }
  
  .main .HP-s-SPECTRE-BY {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    height: 30px;
    left: -13px;
    letter-spacing: 0;
    line-height: 14.5px;
    position: absolute;
    text-align: center;
    top: -2px;
    width: 233px;
  }
  
  .main .j-HANNAH {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    height: 15px;
    left: 26px;
    letter-spacing: 0;
    line-height: 14.5px;
    position: absolute;
    text-align: center;
    top: 35px;
    white-space: nowrap;
  }
  
  .main .LAUNCH-EVENT {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 29px;
    font-weight: 300;
    height: 30px;
    left: -4px;
    letter-spacing: 0;
    line-height: 14.5px;
    position: absolute;
    text-align: center;
    top: 56px;
    width: 216px;
  }
  
  .main .p-min-font-set-14 {
    height: 98px;
    left: 30px;
    position: absolute;
    top: 127px;
    width: 208px;
  }
  
  .main .overlap-group-10 {
    height: 78px;
    left: -12px;
    position: absolute;
    top: -1px;
    width: 232px;
  }
  
  .main .text-wrapper-53 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.2px;
    font-weight: 300;
    height: 20px;
    left: 4px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .main .text-wrapper-54 {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 20px;
    left: 10px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
  }
  
  .main .infamous-milk {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 12.1px;
    font-weight: 300;
    height: 39px;
    left: 0;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 39px;
  }
  
  .main .emphasis-spectre {
    color: #0a0a0a;
    font-family: "Inter", Helvetica;
    font-size: 11.8px;
    font-weight: 400;
    height: 20px;
    left: 42px;
    letter-spacing: 0.13px;
    line-height: 19.5px;
    position: absolute;
    text-align: center;
    top: 77px;
    white-space: nowrap;
  }
  