* {max-width: 100%}

@media screen and (max-width: 767px) {
  .main .div-yui-wrapper {
    margin-left: 0; /* Réinitialiser la marge gauche */
    margin-right: 0; /* Réinitialiser la marge droite */
    width: 100%; /* Remplit la largeur de l'écran */
  }
}

.main {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 60px 50.5px;
  min-width: 200px;
}

.main .div-yui {
  height: 11619.59px;
  width: 1365px;
  padding: 0;
}

.main .div {
  align-self: stretch;
  height: 11619.59px;
  position: relative;
  width: 100%;
}

.main .figure {
  align-items: flex-start;
  display: flex;
  left: 17px;
  padding: 0px 146.41px 0px 0px;
  position: absolute;
  top: 0;
  width: 1297px;
}

.main .figcaption {
  align-items: flex-start;
  display: flex;
  padding: 66.55px 66.56px 0px 0px;
  position: relative;
  width: 665.5px;
  z-index: 1;
}

.main .div-image-card {
  background-color: #cec0c2;
  height: 644.19px;
  position: relative;
  width: 598.94px;
}

.main .div-image-title {
  height: 223px;
  left: 67px;
  position: absolute;
  top: 67px;
  width: 466px;
}

.main .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  height: 28px;
  left: 113px;
  letter-spacing: 0;
  line-height: 27.9px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.main .avec {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  height: 28px;
  left: 170px;
  letter-spacing: 0;
  line-height: 27.9px;
  position: absolute;
  text-align: center;
  top: 68px;
  white-space: nowrap;
}

.main .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  height: 28px;
  left: 1px;
  letter-spacing: 0;
  line-height: 27.9px;
  position: absolute;
  text-align: center;
  top: 124px;
  width: 465px;
}

.main .MFOUNDOU {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  height: 28px;
  left: 26px;
  letter-spacing: 0;
  line-height: 27.9px;
  position: absolute;
  text-align: center;
  top: 188px;
  width: 414px;
}

.main .p {
  height: 184px;
  left: 67px;
  position: absolute;
  top: 308px;
  width: 466px;
}

.main .overlap-group {
  height: 184px;
  left: 1px;
  position: relative;
  top: -2px;
  width: 470px;
}

.main .text-wrapper-3 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 1px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.main .text-wrapper-4 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 1px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.main .text-wrapper-5 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  height: 31px;
  left: 3px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 61px;
  white-space: nowrap;
}

.main .wise-and {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 1px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 92px;
  white-space: nowrap;
}

.main .text-wrapper-6 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 123px;
  white-space: nowrap;
}

.main .text-wrapper-7 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 206px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 153px;
  white-space: nowrap;
}

.main .div-image-button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 130.04px 0px 129.87px;
  position: absolute;
  top: 520px;
  width: 466px;
}

.main .link {
  align-items: flex-start;
  background-color: #0a0000;
  border-radius: 81.78px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 17.58px 46.46px 19.01px;
  position: relative;
}

.main .text-wrapper-8 {
  color: #f7f2f2;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18.6px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 20.4px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .div-yui-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin-left: -146.41px;
  margin-right: -34px;
  padding: 0px 3.05e-5px 61.28px 0px;
  position: relative;
  width: 665.5px;
  z-index: 0;
}

.main .img {
  align-self: stretch;
  height: 649.45px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .figure-2 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  position: absolute;
  top: 745px;
  width: 1297px;
}

.main .img-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 665.5px;
}

.main .div-yui-2 {
  align-self: stretch;
  height: 649.75px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .div-image-card-wrapper {
  align-items: flex-start;
  display: flex;
  margin-right: -34px;
  padding: 66.55px 0.01px 44.95px 66.55px;
  position: relative;
  width: 665.5px;
}

.main .div-image-card-2 {
  background-color: #cec0c2;
  height: 538.25px;
  position: relative;
  width: 598.94px;
}

.main .FLOJO-FOREVER-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 13.12px 0px 13.32px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .FLOJO-FOREVER {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 439.4px;
}

.main .p-2 {
  height: 245px;
  left: 67px;
  position: absolute;
  top: 141px;
  width: 466px;
}

.main .overlap {
  height: 123px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 466px;
}

.main .text-wrapper-9 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.main .text-wrapper-10 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 23px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.main .text-wrapper-11 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  height: 31px;
  left: 26px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 61px;
  white-space: nowrap;
}

.main .ready-for-an-all-day {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  height: 31px;
  left: 6px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 92px;
  white-space: nowrap;
}

.main .overlap-group-2 {
  height: 122px;
  left: 0;
  position: absolute;
  top: 122px;
  width: 469px;
}

.main .text-wrapper-12 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.3px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.main .text-wrapper-13 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 10px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.main .text-wrapper-14 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 1px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 60px;
  white-space: nowrap;
}

.main .text-wrapper-15 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.8px;
  font-weight: 300;
  height: 31px;
  left: 171px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 91px;
  white-space: nowrap;
}

.main .link-wrapper {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 130.03px 0px 129.88px;
  position: absolute;
  top: 414px;
  width: 466px;
}

.main .figure-3 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  padding: 0px 146.41px 0px 0px;
  position: absolute;
  top: 1428px;
  width: 1297px;
}

.main .div-wrapper {
  align-items: flex-start;
  display: flex;
  padding: 66.55px 66.56px 13.73px 0px;
  position: relative;
  width: 665.5px;
  z-index: 1;
}

.main .div-image-card-3 {
  background-color: #cec0c2;
  height: 568.91px;
  position: relative;
  width: 598.94px;
}

.main .STUDY-HALL-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 76px 0px 76.2px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .STUDY-HALL {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 313.64px;
}

.main .p-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 1.32px 0.31px 1.51px;
  position: absolute;
  top: 140px;
  width: 466px;
}

.main .text-wrapper-16 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-wrapper-17 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.3px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-wrapper-18 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.3px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-wrapper-19 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.3px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-wrapper-20 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.3px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.main .button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.69px 0px 143.68px;
  position: absolute;
  top: 445px;
  width: 466px;
}

.main .link-2 {
  align-items: flex-start;
  background-color: #0a0000;
  border-radius: 81.78px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 17.58px 46.13px 19.01px 46.34px;
  position: relative;
}

.main .text-wrapper-21 {
  color: #f7f2f2;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15.8px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 20.4px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .div-yui-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin-left: -146.41px;
  margin-right: -34px;
  padding: 0px 3.05e-5px 0px 0px;
  position: relative;
  width: 665.5px;
  z-index: 0;
}

.main .div-yui-4 {
  align-self: stretch;
  height: 649.19px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .figure-4 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  position: absolute;
  top: 2112px;
  width: 1297px;
}

.main .div-yui-5 {
  align-self: stretch;
  height: 649.52px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .figcaption-2 {
  align-items: flex-start;
  display: flex;
  margin-right: -34px;
  padding: 66.55px 0.01px 106.03px 66.55px;
  position: relative;
  width: 665.5px;
}

.main .div-image-card-4 {
  background-color: #cec0c2;
  height: 476.94px;
  position: relative;
  width: 598.94px;
}

.main .EGGPLANT-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 90.78px 0px 90.97px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .EGGPLANT {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 284.09px;
}

.main .p-4 {
  height: 184px;
  left: 67px;
  position: absolute;
  top: 141px;
  width: 466px;
}

.main .overlap-group-3 {
  height: 92px;
  left: 3px;
  position: absolute;
  top: -2px;
  width: 461px;
}

.main .text-wrapper-22 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 13px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.main .text-wrapper-23 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.main .text-wrapper-24 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.6px;
  font-weight: 300;
  height: 31px;
  left: 11px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 61px;
  white-space: nowrap;
}

.main .overlap-2 {
  height: 91px;
  left: 1px;
  position: absolute;
  top: 91px;
  width: 468px;
}

.main .text-wrapper-25 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.3px;
  font-weight: 300;
  height: 31px;
  left: 17px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.main .text-wrapper-26 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.main .text-wrapper-27 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.6px;
  font-weight: 300;
  height: 31px;
  left: 124px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 60px;
  white-space: nowrap;
}

.main .div-image-button-2 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.68px 0px 143.69px;
  position: absolute;
  top: 353px;
  width: 466px;
}

.main .link-3 {
  align-items: flex-start;
  background-color: #0a0000;
  border-radius: 81.78px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 17.57px 46.14px 19.02px 46.33px;
  position: relative;
}

.main .figure-5 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  padding: 0px 146.41px 0px 0px;
  position: absolute;
  top: 2795px;
  width: 1297px;
}

.main .figcaption-3 {
  align-items: flex-start;
  display: flex;
  padding: 66.54px 66.56px 136.7px 0px;
  position: relative;
  width: 665.5px;
  z-index: 1;
}

.main .div-image-card-5 {
  background-color: #cec0c2;
  height: 446.28px;
  position: relative;
  width: 598.94px;
}

.main .WASH-DAY-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 95.08px 0px 95.26px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .WASH-DAY {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 275.5px;
}

.main .p-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 2.82px 0.31px 3.01px;
  position: absolute;
  top: 140px;
  width: 466px;
}

.main .text-wrapper-28 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-wrapper-29 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.4px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-wrapper-30 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.4px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .i-would-wear-them {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.4px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.main .div-image-button-3 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.69px 0px 143.68px;
  position: absolute;
  top: 322px;
  width: 466px;
}

.main .link-4 {
  align-items: flex-start;
  background-color: #0a0000;
  border-radius: 81.78px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 17.57px 46.13px 19.02px 46.34px;
  position: relative;
}

.main .figure-6 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  position: absolute;
  top: 3479px;
  width: 1297px;
}

.main .div-yui-6 {
  align-self: stretch;
  height: 608.92px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .figcaption-4 {
  align-items: flex-start;
  display: flex;
  margin-right: -34px;
  padding: 66.55px 0.01px 75.65px 66.55px;
  position: relative;
  width: 665.5px;
}

.main .div-image-card-6 {
  background-color: #cec0c2;
  height: 466.72px;
  position: relative;
  width: 598.94px;
}

.main .THRIFTED-TINGS-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 22.98px 0px 23.19px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .THRIFTED-TINGS {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 419.67px;
}

.main .p-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 4.82px 0.32px 5.02px;
  position: absolute;
  top: 140px;
  width: 466px;
}

.main .style-the-thrift {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.3px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.main .div-image-button-4 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.68px 0px 143.69px;
  position: absolute;
  top: 343px;
  width: 466px;
}

.main .link-5 {
  align-items: flex-start;
  background-color: #0a0000;
  border-radius: 81.78px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 17.58px 46.14px 19.01px 46.33px;
  position: relative;
}

.main .figure-7 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  padding: 0px 146.41px 0px 0px;
  position: absolute;
  top: 4190px;
  width: 1297px;
}

.main .figcaption-5 {
  align-items: flex-start;
  display: flex;
  padding: 66.54px 66.56px 111.83px 0px;
  position: relative;
  width: 665.5px;
  z-index: 1;
}

.main .div-image-card-7 {
  background-color: #cec0c2;
  height: 471.38px;
  position: relative;
  width: 598.94px;
}

.main .div-image-title-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 30.13px 0px 30.31px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .NO-PLACE-LIKE {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 405.4px;
}

.main .BROOKLYN {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -0.25px;
  position: relative;
  text-align: center;
  width: 294.95px;
}

.main .p-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 0.82px 0.31px 1.02px;
  position: absolute;
  top: 196px;
  width: 466px;
}

.main .div-image-button-5 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.69px 0px 143.68px;
  position: absolute;
  top: 347px;
  width: 466px;
}

.main .figure-8 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  position: absolute;
  top: 4941px;
  width: 1297px;
}

.main .figcaption-6 {
  align-items: flex-start;
  display: flex;
  margin-right: -34px;
  padding: 66.54px 0.01px 50.29px 66.55px;
  position: relative;
  width: 665.5px;
}

.main .div-image-card-8 {
  background-color: #cec0c2;
  height: 532.69px;
  position: relative;
  width: 598.94px;
}

.main .div-image-title-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 13.75px;
  left: 67px;
  padding: 13px 72.32px 0.75px 72.52px;
  position: absolute;
  top: 67px;
  width: 466px;
}

.main .text-wrapper-31 {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .SQUAD {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  position: relative;
  text-align: center;
  width: 194.33px;
}

.main .overlap-group-wrapper {
  height: 184px;
  left: 67px;
  position: absolute;
  top: 197px;
  width: 466px;
}

.main .overlap-group-4 {
  height: 183px;
  left: 13px;
  position: relative;
  top: -1px;
  width: 441px;
}

.main .text-wrapper-32 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.4px;
  font-weight: 300;
  height: 31px;
  left: 9px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.main .wear-x-chandon-s {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 1px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.main .special-guests {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.6px;
  font-weight: 400;
  height: 31px;
  left: 33px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 60px;
  white-space: nowrap;
}

.main .span {
  font-weight: 300;
}

.main .text-wrapper-33 {
  font-family: "Inter-LightItalic", Helvetica;
  font-style: italic;
  font-weight: 300;
}

.main .chandon-s-winemaker {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 400;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 91px;
  white-space: nowrap;
}

.main .emphasis-rachel {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 400;
  height: 31px;
  left: 18px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 122px;
  white-space: nowrap;
}

.main .strategy-andee-olson {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 400;
  height: 31px;
  left: 120px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 152px;
  white-space: nowrap;
}

.main .div-image-button-6 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.68px 0px 143.69px;
  position: absolute;
  top: 409px;
  width: 466px;
}

.main .figure-9 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  padding: 0px 146.41px 0px 0px;
  position: absolute;
  top: 5693px;
  width: 1297px;
}

.main .figcaption-7 {
  align-items: flex-start;
  display: flex;
  padding: 66.55px 66.56px 75.2px 0px;
  position: relative;
  width: 665.5px;
  z-index: 1;
}

.main .div-image-card-9 {
  background-color: #cec0c2;
  height: 507.59px;
  position: relative;
  width: 598.94px;
}

.main .THAT-s-SHOW-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 20.45px 0px 20.64px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .THAT-s-SHOW {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 424.75px;
}

.main .p-8 {
  height: 215px;
  left: 67px;
  position: absolute;
  top: 141px;
  width: 466px;
}

.main .overlap-3 {
  height: 92px;
  left: 4px;
  position: absolute;
  top: -2px;
  width: 458px;
}

.main .text-wrapper-34 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  height: 31px;
  left: 6px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.main .my-way-back-to-the {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.main .text-wrapper-35 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 19px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 61px;
  white-space: nowrap;
}

.main .overlap-group-5 {
  height: 122px;
  left: 17px;
  position: absolute;
  top: 91px;
  width: 432px;
}

.main .text-wrapper-36 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.main .panthers-there-s-no {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 62px;
  left: 16px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 60px;
}

.main .div-image-button-7 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.69px 0px 143.68px;
  position: absolute;
  top: 383px;
  width: 466px;
}

.main .div-yui-7 {
  align-self: stretch;
  height: 649.34px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .figure-10 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  position: absolute;
  top: 6444px;
  width: 1297px;
}

.main .figcaption-8 {
  align-items: flex-start;
  display: flex;
  margin-right: -34px;
  padding: 66.55px 0.01px 167.34px 66.55px;
  position: relative;
  width: 665.5px;
}

.main .div-image-card-10 {
  background-color: #cec0c2;
  height: 415.63px;
  position: relative;
  width: 598.94px;
}

.main .COACHELLA-FITS-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 9.94px 0px 10.14px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .COACHELLA-FITS {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 445.76px;
}

.main .p-9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 0.31px 0.31px 0.53px;
  position: absolute;
  top: 140px;
  width: 466px;
}

.main .div-image-button-8 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.68px 0px 143.69px;
  position: absolute;
  top: 291px;
  width: 466px;
}

.main .figure-11 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  padding: 0px 146.41px 0px 0px;
  position: absolute;
  top: 7196px;
  width: 1297px;
}

.main .figcaption-9 {
  align-items: flex-start;
  display: flex;
  padding: 66.55px 66.56px 141.82px 0px;
  position: relative;
  width: 665.5px;
  z-index: 1;
}

.main .div-image-card-11 {
  background-color: #cec0c2;
  height: 440.72px;
  position: relative;
  width: 598.94px;
}

.main .div-image-title-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 13.75px;
  left: 67px;
  padding: 13px 16.82px 0.75px 17.02px;
  position: absolute;
  top: 67px;
  width: 466px;
}

.main .BODY-CARE {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  position: relative;
  text-align: center;
  width: 311.08px;
}

.main .p-10 {
  height: 92px;
  left: 67px;
  position: absolute;
  top: 197px;
  width: 466px;
}

.main .overlap-group-6 {
  height: 92px;
  position: relative;
  top: -2px;
  width: 468px;
}

.main .fall-is-finally-here {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 10px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.main .text-wrapper-37 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.main .text-wrapper-38 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 80px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 61px;
  white-space: nowrap;
}

.main .div-image-button-9 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.69px 0px 143.68px;
  position: absolute;
  top: 317px;
  width: 466px;
}

.main .div-yui-8 {
  align-self: stretch;
  height: 649.09px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .figure-12 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  position: absolute;
  top: 7947px;
  width: 1297px;
}

.main .div-yui-9 {
  align-self: stretch;
  height: 649.63px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .figcaption-10 {
  align-items: flex-start;
  display: flex;
  margin-right: -34px;
  padding: 66.55px 0.01px 142.36px 66.55px;
  position: relative;
  width: 665.5px;
}

.main .div-image-title-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 13.75px;
  left: 67px;
  padding: 0px 31.84px 14.75px 32.05px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .MY-SIGNATURE {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 401.95px;
}

.main .text-wrapper-39 {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .p-11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 3.32px 0.31px 3.52px;
  position: absolute;
  top: 196px;
  width: 466px;
}

.main .braid-outs-to-twist {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.34px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.main .div-image-button-10 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.68px 0px 143.69px;
  position: absolute;
  top: 317px;
  width: 466px;
}

.main .figure-13 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  padding: 0px 146.41px 0px 0px;
  position: absolute;
  top: 8698px;
  width: 1297px;
}

.main .figcaption-11 {
  align-items: flex-start;
  display: flex;
  padding: 66.55px 66.56px 56.05px 0px;
  position: relative;
  width: 665.5px;
  z-index: 1;
}

.main .div-image-card-12 {
  background-color: #cec0c2;
  height: 527.13px;
  position: relative;
  width: 598.94px;
}

.main .div-image-title-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 12.56px 0px 12.75px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .TIPS-TO-HELP {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 348.54px;
}

.main .FIGHT-HUMIDITY {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -0.2px;
  position: relative;
  text-align: center;
  width: 440.53px;
}

.main .FRIZZ {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -0.2px;
  position: relative;
  text-align: center;
  width: 192.22px;
}

.main .p-12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 0px 0.32px 0.18px;
  position: absolute;
  top: 251px;
  width: 466px;
}

.main .text-wrapper-40 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-wrapper-41 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.4px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .BIG-hair-during-the {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-left: -0.67px;
  margin-right: -0.67px;
  margin-top: -0.4px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.main .div-image-button-11 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.69px 0px 143.68px;
  position: absolute;
  top: 403px;
  width: 466px;
}

.main .div-yui-10 {
  align-self: stretch;
  height: 649.73px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .figure-14 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  position: absolute;
  top: 9450px;
  width: 1297px;
}

.main .NOLA-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 155.27px 0px 155.49px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .NOLA {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 155.08px;
}

.main .p-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 2.32px 0.66px 2.51px;
  position: absolute;
  top: 140px;
  width: 466px;
}

.main .infamous-essence {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.3px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .and-aesthetically {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.6px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  margin-top: -0.3px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .figure-15 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  padding: 0px 146.41px 0px 0px;
  position: absolute;
  top: 10202px;
  width: 1297px;
}

.main .figcaption-12 {
  align-items: flex-start;
  display: flex;
  padding: 66.55px 66.56px 25.19px 0px;
  position: relative;
  width: 665.5px;
  z-index: 1;
}

.main .div-image-card-13 {
  background-color: #cec0c2;
  height: 557.78px;
  position: relative;
  width: 598.94px;
}

.main .div-image-title-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 48.55px 0px 48.73px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .DIY-CUT-OFF {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 351.22px;
}

.main .SHORTS-WITH {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -0.2px;
  position: relative;
  text-align: center;
  width: 368.56px;
}

.main .BUSTLE {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -0.2px;
  position: relative;
  text-align: center;
  width: 208.76px;
}

.main .p-14 {
  height: 153px;
  left: 67px;
  position: absolute;
  top: 252px;
  width: 466px;
}

.main .overlap-group-7 {
  height: 155px;
  left: 1px;
  position: relative;
  top: -2px;
  width: 468px;
}

.main .my-first-DIY-video {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 400;
  height: 31px;
  left: 9px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.main .senior-fashion {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 61px;
  white-space: nowrap;
}

.main .DIY-is-perfect-for {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.8px;
  font-weight: 300;
  height: 31px;
  left: 11px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 92px;
  white-space: nowrap;
}

.main .text-wrapper-42 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  height: 31px;
  left: 67px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 123px;
  white-space: nowrap;
}

.main .link-6 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #1111114c;
  height: 29px;
  left: 344px;
  position: absolute;
  top: 126px;
  width: 53px;
}

.main .text-wrapper-43 {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.5px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
}

.main .div-image-button-12 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.69px 0px 143.68px;
  position: absolute;
  top: 434px;
  width: 466px;
}

.main .figure-16 {
  align-items: flex-start;
  display: flex;
  left: 17px;
  position: absolute;
  top: 10953px;
  width: 1297px;
}

.main .div-yui-11 {
  align-self: stretch;
  height: 649.36px;
  margin-right: -0.41px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .figcaption-13 {
  align-items: flex-start;
  display: flex;
  margin-right: -34px;
  padding: 66.55px 0.01px 55.68px 66.55px;
  position: relative;
  width: 665.5px;
}

.main .div-image-title-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 13.8px;
  left: 67px;
  padding: 0px 8.54px 0px 8.74px;
  position: absolute;
  top: 66px;
  width: 466px;
}

.main .HP-s-SPECTRE-BY {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 448.56px;
}

.main .LAUNCH-EVENT {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 55.8px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27.9px;
  position: relative;
  text-align: center;
  width: 414.93px;
}

.main .p-15 {
  height: 123px;
  left: 67px;
  position: absolute;
  top: 252px;
  width: 466px;
}

.main .overlap-group-8 {
  height: 123px;
  position: relative;
  top: -2px;
  width: 471px;
}

.main .text-wrapper-44 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19.1px;
  font-weight: 300;
  height: 31px;
  left: 39px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.main .text-wrapper-45 {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 22px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.main .studios-to-celebrate {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 19px;
  font-weight: 300;
  height: 31px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 61px;
  white-space: nowrap;
}

.main .thin-laptop-spectre {
  color: #0a0a0a;
  font-family: "Inter-Light", Helvetica;
  font-size: 18.6px;
  font-weight: 400;
  height: 31px;
  left: 78px;
  letter-spacing: 0.2px;
  line-height: 30.7px;
  position: absolute;
  text-align: center;
  top: 92px;
  white-space: nowrap;
}

.main .div-image-button-13 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 67px;
  padding: 0px 143.68px 0px 143.69px;
  position: absolute;
  top: 403px;
  width: 466px;
}
